<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Carn-admin</title>

  <!-- Custom fonts for this template-->
  <link href="{{ asset('css/vendor/font-awesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ asset('css/vendor/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Carn-admin</h1>
                    <h1 class="h4 text-gray-900 mb-4">Bine ai revenit!</h1>
                  </div>
                  {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}
                  <form method="post" class="user">
                    <div class="form-group">
                      <input type="email" value="{{ last_username }}" class="form-control form-control-user" name="email" id="username" aria-describedby="emailHelp" placeholder="Adresa de email...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Parola">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" name="_remember_me" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Tine-ma minte</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Autentificare
                    </button>
                    <div>
                      <input type="hidden" name="_failure_path" value="{{ app.request.getRequestUri() }}"/>
                      <input type="hidden" name="_target_path" value="{{ app.request.getRequestUri() }}"/>
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}"/>
                    </div>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Am uitat parola!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{{path('app_register')}}">Intregistraza-ma!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset('javascript/vendor/jquery.min.js') }}"></script>
  <script src="{{ asset('javascript/vendor/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ asset('javascript/vendor/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ asset('javascript/sb-admin-2.min.js') }}"></script>

</body>

</html>