{% extends 'security/base-register.html.twig' %}

{% form_theme registrationForm _self %}

{% block form_row %}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
     <div class="form-group">
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
     </div>

{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger small" style="padding-bottom: 0; padding-top: 0">
            {%- for error in errors -%}
                <small>{{ error.message }}</small><br/>
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block main %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carn-admin - Inregistrare Utilizator</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('css/vendor/font-awesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('css/vendor/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-7 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-5">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Creaza un cont!</h1>
                        </div>

                        {{ form_start(registrationForm, {
                            attr: {
                                class: "user"
                            }
                        }) }}

                        {{ form_row(registrationForm.lastName, {
                            attr: {
                                class: "form-control form-control-user",
                                placeholder: "Nume"
                            }
                        }) }}
                        {{ form_row(registrationForm.firstName, {
                            attr: {
                                class: "form-control form-control-user",
                                placeholder: "Prenume"
                            }
                        }) }}
                        {{ form_row(registrationForm.email, {
                            attr: {
                                class: "form-control form-control-user",
                                placeholder: "Email"
                            }
                        }) }}
                        {{ form_row(registrationForm.plainPassword.first, {
                            attr: {
                                class: "form-control form-control-user",
                                placeholder: "Parola"
                            }
                        }) }}
                        {{ form_row(registrationForm.plainPassword.second, {
                            attr: {
                                class: "form-control form-control-user",
                                placeholder: "Confirma parola"
                            }
                        }) }}

                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                            {{ form_widget(registrationForm.privacyPolicyAcceptedAt, { 'attr' :
                                {'class' : 'custom-control-input'}
                            }) }}
                                <label class="custom-control-label" for="registration_form_privacyPolicyAcceptedAt">Sunt de acord cu <a href="#">Politica de confidentialitate</a> a serviciului.</label>
                            </div>

                            <div class="custom-control custom-checkbox small">
                            {{ form_widget(registrationForm.termsAcceptedAt, { 'attr' :
                                {'class' : 'custom-control-input'}
                            })  }}
                                <label class="custom-control-label" for="registration_form_termsAcceptedAt">Am citit si sunt de acord cu <a href="#">Termenii si conditiile</a> serviciului.</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Inregistreaza Cont
                        </button>
                        {{ form_end(registrationForm) }}


{#                        <form class="user">#}
{#                            <div class="form-group">#}
{#                                <input type="text" name="lastname" class="form-control form-control-user" id="exampleFirstName" placeholder="Nume">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="text" name="firstname" class="form-control form-control-user" id="exampleLastName" placeholder="Prenume">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Parola">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="password" name="confirm_password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Confirma parola">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <div class="custom-control custom-checkbox small">#}
{#                                    <input type="checkbox" class="custom-control-input" name="terms_and_conditions">#}
{#                                    <label class="custom-control-label" for="customCheck">Am citit si sunt de acord cu <a href="#">Termenii si conditiile</a> serviciului.</label>#}
{#                                </div>#}
{#                                <div class="custom-control custom-checkbox small">#}
{#                                    <input type="checkbox" class="custom-control-input" name="_remember_me" id="customCheck">#}
{#                                    <label class="custom-control-label" for="customCheck">Sunt de acord cu <a href="#">Politica de confidentialitate</a> a serviciului.</label>#}
{#                                </div>#}
{#                            </div>#}
{#                            <a href="login.html" class="btn btn-primary btn-user btn-block">#}
{#                                Inregistreaza Cont#}
{#                            </a>#}
{#                        </form>#}
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Ai uitat parola?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{{ path('app_login') }}">Ai deja cont? Autentifica-te!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('javascript/vendor/jquery.min.js') }}"></script>
<script src="{{ asset('javascript/vendor/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('javascript/vendor/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('javascript/sb-admin-2.min.js') }}"></script>

</body>

</html>
{% endblock %}